<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <nav class="menu">
          <ul class="clearfix">
              <a class="logo" href="http://127.0.0.1:5000/">Capstone Credential</a>
              <span class="category">
                  <li><a href="http://127.0.0.1:5000/">Home</a></li>
                  <li><a href="http://127.0.0.1:5000/info">소개</a></li>
                  <li><a href="http://127.0.0.1:5000/invitation">초대</a></li>
                  <li><a href="http://127.0.0.1:5000/credential">인증서 발급</a></li>
                  <li><a href="http://127.0.0.1:5000/mypage">마이페이지</a></li>
                  <li id="chat"><a href="http://127.0.0.1:5000/logout"><small id="chat_btn">로그아웃</small></a></li>
                  
              </span>
          </ul>
      </nav>
  </header>


    
  <div class="grid">
    <div class="grid_item first">
      <div class="list_holder">
        <b>채팅방 목록</b>
        <div>
          <button id="user_list_btn">황예진</button>
        </div>
        <div>
          <button id="user_list_btn">박경미</button>
        </div>
      </div>
      <div id="optionBtn">
        <button id="delete_chat">나가기</button>
        <button id="invite_chat">채팅 시작하기</button>
      </div>
    </div>

    <div class="grid_item two">
      <div class="current_user_name">
        <b id="user_name">황예진</b>
      </div>
      <div class="message_holder">
        {% for msg in messages %}
          <div class="chat_contents">
            <div class="chatName"><b style="color: #000"> {{ msg.name }}</b></div>
            <div class="chatMessage"><small>{{ msg.message }}</small></div>
          </div>
          {% endfor %}
      </div>
      <div>
        <form method="POST" id="chatForm">
          <input type="text" class="name" placeholder="name"/>
          <input type="text" class="message" placeholder="messages"/>
          <input type="submit" class="submitBtn"/>
        </form>
      </div>

    </div>
  </div>








    <script type="text/javascript">
      var socket = io.connect('http://127.0.0.1:5000');

      //연결 됐을 때
      socket.on( 'connect', function() {
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let name = $( 'input.name' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            name : name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
          $(".message_holder").scrollTop($(".message_holder")[0].scrollHeight);
        } )
      } )

      //받기
      socket.on( 'my response', function( msg ) {
        if( typeof msg.name !== 'undefined' ) {
          $( 'div.message_holder' ).append( '<div class="chat_contents"><div class="chatName"><b style="color: #000">'+msg.name
            +'</b></div><div class="chatMessage"><small>'+msg.message+'</small></div></div>' )
        }
      })
    </script>
  </body>
  </html>
