<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>-->
    <!-- <script src="https://cdn.socket.io/socket.io-5.1.1.js"></script> -->
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <h3 style='color: #ccc;font-size: 30px;'>No New message yet..</h3>
    <div class="message_holder">
        {% for msg in messages %}
            <div><b style="color: #000"> {{ msg.name }}</b> {{ msg.message }}</div>
            {% endfor %}
    </div>

    <form method="POST">
      <input type="text" class="name" placeholder="name"/>
      <input type="text" class="message" placeholder="messages"/>
      <input type="submit"/>
    </form>

    <script type="text/javascript">
      var socket = io.connect('http://127.0.0.1:5000');

      socket.on( 'connect', function() {
        socket.emit( 'connect_inter', {
          name : 'System',
          message : '-- User Connected --'
        } )

        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let name = $( 'input.name' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            name : name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )

      socket.on( 'my response', function( msg ) {
        if( typeof msg.name !== 'undefined' ) {
          $( 'h3' ).text("Start Chat")
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>
  </body>
  </html>